<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wuwenfu.wechat.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.wuwenfu.wechat.pojo.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="SMALLINT" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="date_add" property="dateAdd" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_id, user_name, password, real_name, mobile, address, date_add
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="addUser" parameterType="cn.wuwenfu.wechat.pojo.User" >
    insert into user (id, brand_id, user_name, 
      password, real_name, mobile, 
      address, date_add)
    values (#{id,jdbcType=INTEGER}, #{brandId,jdbcType=SMALLINT}, #{userName,jdbcType=CHAR}, 
      #{password,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{dateAdd,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.wuwenfu.wechat.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="dateAdd != null" >
        date_add,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=SMALLINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="dateAdd != null" >
        #{dateAdd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wuwenfu.wechat.pojo.User" >
    update user
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=SMALLINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="dateAdd != null" >
        date_add = #{dateAdd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wuwenfu.wechat.pojo.User" >
    update user
    set brand_id = #{brandId,jdbcType=SMALLINT},
      user_name = #{userName,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      date_add = #{dateAdd,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 分页SQL语句 -->
  <select id="selectUsersByPage" resultMap="BaseResultMap">
    select
    *
    from user WHERE user_name LIKE CONCAT('%', #{userName, jdbcType=VARCHAR}, '%') limit #{offset},#{pageSize}
  </select>
  <!-- 取得记录的总数 -->
  <select id="getUsersCount" resultType="long">
    SELECT COUNT(*) FROM user WHERE user_name LIKE CONCAT('%', #{userName, jdbcType=VARCHAR}, '%')
  </select>
</mapper>